* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 4rem;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.wrapper .image {
    height: 80%;
    padding: 0 5rem;
}

.image img {
    height: 100%;
}

.prev-arrow,
.next-arrow {
    width: 50px;
    height: 50px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

nav {
    display: flex;
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
}

nav i {
    padding: 0 0.5rem;
}

.active {
    color: blue;
}